files:
<% @services.each do |service| %>
  <% log_dir = node['gitlab'].has_key?(service) ? node['gitlab'][service]['log_directory'] : node[service]['log_directory'] %>
  - <%= File.join(log_dir, "*.log") %>
<% end %>
destination:
  host: <%= @destination_host %>
  port: <%= @destination_port %>
